@font-face {
    font-family: 'Inter';
    src: url('/fonts/Inter-UI.var.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeagueMono';
    src: url('/fonts/LeagueMonoVariable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html, body {
	background-color: #111111;
}

body {
  color: #fff;
  font-family: 'LeagueMono';
}

.longform {
	font-variation-settings: 'wght' 400;
}

.headline {
	font-variation-settings: 'wght' 900, 'ital' 45;
	font-size: 3em;
}
